<div class="col" style="padding-top: 65px !important;padding-left: 300px;">
      
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let user of chatService.users;">
        <a *ngIf="user.isTabOpened" class="nav-link" [class]="user.isTabActive ? 'nav-link show active' : 'nav-link show fade'" data-toggle="tab" [href]="'#'+user.token">{{user?.name}}</a>
        <button *ngIf="user.isTabOpened" type="button" class="close" (click)="closeTab(user)">
            <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container" [class]="user.isTabActive ? 'active' : 'fade'" [id]="user.token" *ngFor="let user of chatService.users;">.home..</div>
    </div>
  </div>
  