<div class="col" style="padding-top: 65px !important;padding-left: 300px;">

  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let user of tabs; let i=index">
      <a *ngIf="user?.isTabOpened" class="nav-link" [class]="user?.isTabActive ? 'nav-link show active' : 'nav-link show fade'"
        data-toggle="tab" [href]="'#'+user.token" (click)="selectTab(user)">{{user?.name}}</a>
      <button *ngIf="user?.isTabOpened" type="button" class="close" (click)="closeTab(user,i)">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div [class]="user?.isTabActive ? 'tab-pane container active' : 'tab-pane container fade'" [id]="user.token" *ngFor="let user of tabs;">
      <div class="chat_container" [ngClass]="chat.from == user.token ? 'lighter' : 'darker'"
        *ngFor="let chat of user?.chatBox">
        <p>{{chat?.message}}</p>
        <span *ngIf="chat?.fromName"class="time-right">{{chat?.fromName==selfUser.name? 'You':chat?.fromName}}</span>
      </div>
      <div *ngIf="user?.isTabActive " class="chat-input-pan">
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" [(ngModel)]="text"></textarea>
          <div class="input-group-append">
            <button class="btn btn-primary " (click)="sendText(user)">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>